{% extends 'booking/base.html' %}
{% load static %}

{% block content %}

<meta name="csrf-token" content="{{ csrf_token }}">

<body>
    <h2>Booking overview: {{ device.name }} </h2>
    <p>drag to book a time slot.</p>
    <div id="app">
        <!-- Booking Form -->
        <div v-if="isBookingFormOpen" style="position:fixed; left:50%; top:50%; transform:translate(-50%, -50%); border:1px solid #000; padding:20px; background-color:#fff; z-index:1000;">
            <h2>Enter booking information</h2>
            <form @submit.prevent="submitBookingForm">
                <label>Title:</label><br>
                <input type="text" v-model="bookingData.title" id="title" name="title"><br><br>
                <label>Description:</label><br>
                <input type="text" v-model="bookingData.description" id="description" name="description"><br><br>
                <button type="submit">Submit</button>
                <button type="button" @click="closeBookingForm()">Close</button>
            </form>
        </div>

        <!-- Edit Form -->
        <div v-if="isEditFormOpen" style="position:fixed; left:50%; top:50%; transform:translate(-50%, -50%); border:1px solid #000; padding:20px; background-color:#fff; z-index:1000;">
            <div v-if="event.user == {{ user.id }}">
                {% verbatim %}
                <h2>edit {{event.title}}</h2>
                <form @submit.prevent="submitEditForm">
                    <label>Title:</label><br>
                    <input type="text" v-model="event.title" id="title" name="title" ><br><br>
                    <label>Description:</label><br>
                    <input type="text" v-model="event.description" id="description" name="description" ><br><br>
                    <label>Start:</label><br>
                    <input type="datetime-local" v-model="event.datetime_start" id="start" name="start"><br><br>
                    <label>End:</label><br>
                    <input type="datetime-local" v-model="event.datetime_end" id="end" name="end"><br><br>
                    <button type="submit">Submit</button>
                    <button type="button" @click="deleteBooking()">Delete</button>
                    <button type="button" @click="closeEditForm()">Close</button>
                </form>
                {% endverbatim %}
            </div>
            <div v-else>
                {% verbatim %}
                <h3>Booking by: {{ eventUsername }}</h3><br>
                <p>Tittle:{{ event.title }}</p>
                <p>Description:{{ event.description }}</p>
                <button type="button" @click="closeEditForm()">Close</button>
                {% endverbatim %}
            </div>
        </div>
    </div>
</body>

<script>
    const app = Vue.createApp({
        data() {
            return {
                isBookingFormOpen: false,
                isEditFormOpen: false,
                eventUsername:'',
                bookingData: {
                    title: '',
                    description: ''
                },
                selectionInfo:{},
                event:{},
            }
        },
        methods: {
            openBookingForm(selectionInfo) {
                this.isBookingFormOpen = true;
                this.selectionInfo = selectionInfo;
            },
            closeBookingForm() {
                this.isBookingFormOpen = false;
            },
            submitBookingForm() {
                // generate unique booking id
                const booking_id = 'booking_' + new Date().getTime();
                var start = new Date(this.selectionInfo.startStr);
                var end = new Date(this.selectionInfo.endStr);
                addBooking({
                    title: this.bookingData.title,
                    description: this.bookingData.description,
                    datetime_start: this.selectionInfo.startStr,
                    datetime_end: this.selectionInfo.endStr,
                    duration: ((end - start) / (1000 * 60)).toString(),
                    timestamp: start.getTime().toString(),
                    device_instance_id: '{{ device.deviceinstance_id }}' ,
                });
            },
            openEditForm(event) {
                // datastructure of event here is different from calendar's events, it comes from the database directly
                this.isEditFormOpen = true;
                // make datetime available for input type datetime-local
                event.datetime_start = event.datetime_start.match(/^(\d{4}-\d{2}-\d{2}T\d{2}:\d{2})/);
                event.datetime_start = event.datetime_start ? event.datetime_start[1] : '';
                event.datetime_end = event.datetime_end.match(/^(\d{4}-\d{2}-\d{2}T\d{2}:\d{2})/);
                event.datetime_end = event.datetime_end ? event.datetime_end[1] : '';
                console.log(event);
                this.event= event;
            },
            closeEditForm() {
                this.isEditFormOpen = false;
            },
            deleteBooking() {
                deleteBooking(this.event.id);
            },
            submitEditForm(){
                start = new Date(this.event.datetime_start);
                end = new Date(this.event.datetime_end);
                editBooking({
                    title: this.event.title,
                    description: this.event.description,
                    devicebookingcalendar_id: this.event.id,
                    datetime_start: this.event.start,
                    datetime_end: this.event.end,
                    duration: ((end - start) / (1000 * 60)).toString(),
                    timestamp: start.getTime().toString(),
                    device_instance_id: '{{ device.deviceinstance_id }}' ,
                });
                this.isEditFormOpen = false;
            },
        }
    })
    const vm = app.mount('#app');

    function getCsrfToken() {
        return document.querySelector('meta[name="csrf-token"]').getAttribute('content');
    }
    
    async function deleteBooking(booking_id) {
        try {
            const response = await fetch(`/api/delete/${booking_id}`, {
                method: 'DELETE',
                headers: { 'X-CSRFToken': getCsrfToken() }
            });
            const json = await response.json();
            if (response.ok) {
                alert(json.message);
            } else {
                throw new Error(`http error, status:${response.status}`);
            }
            location.reload();
        } catch (e) {
            console.error('error in deleteBooking function:', e);
        }
    }

    async function editBooking(data = {}){
        try {
            const response = await fetch('/api/editbooking/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCsrfToken(),
                },
                body: JSON.stringify(data),
            });
            const json = await response.json();
            if (response.ok) {
                alert(json.message)
            } else {
                throw new Error(`http error, status:${response.status}`);
            }
            location.reload();
        } catch (e) {
            console.error('error in editBooking function:', e);
        }
    }
    
    async function addBooking(data = {}) {
        try {
            const response = await fetch('/api/addbooking/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCsrfToken(),
                },
                body: JSON.stringify(data),
            });
            const json = await response.json();
            if (response.ok) {
                alert(json.message)
            } else {
                throw new Error(`http error, status:${response.status}`);
            }
            location.reload();
        } catch (e) {
            console.error('error in addBooking function:', e);
        }
    }

    async function getOneBooking(booking_id) {
        try {
            const response = await fetch(`/api/get-one-booking/${booking_id}`);
            const json = await response.json();
            if (response.ok) {
                return json;
            } else {
                throw new Error(`http error, status:${response.status}`);
            }
        } catch (e) {
            console.error('error in getOneBooking function:', e);
        }
    }

    async function getUsername(user_id) {
        try {
            const response = await fetch(`/api/get-username/${user_id}`);
            const json = await response.json();
            if (response.ok) {
                return json;
            } else {
                throw new Error(`http error, status:${response.status}`);
            }
        } catch (e) {
            console.error('error in getUsername function:', e);
        }
    }
    
    document.addEventListener('DOMContentLoaded', function () {
        const calendarEl = document.getElementById('calendar');
        const calendar = new FullCalendar.Calendar(calendarEl, {
            selectable: true,
            selectHelper: true,
            initialView: 'dayGridMonth',
            headerToolbar: {
                left: 'prev,next present',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay listViewMonth,listViewWeek,listViewDay'
            },
            customButtons: {
                present: {
                    text: 'present',
                    click: function () {
                        calendar.today();
                    }
                },
                listViewMonth: {
                    text: 'list month',
                    click: function () {
                        calendar.changeView('listMonth');
                    }
                },
                listViewWeek: {
                    text: 'list week',
                    click: function () {
                        calendar.changeView('listWeek');
                    }
                },
                listViewDay: {
                    text: 'list day',
                    click: function () {
                        calendar.changeView('listDay');
                    }
                },
            },
            events:'/api/bookings/{{device.deviceinstance_id}}',
            dateClick: function (info) {
                calendar.changeView('timeGridDay', info.dateStr);
            },
            eventClick: function (eventClickInfo) {
                if ('{{ user.is_authenticated }}' === 'True') {
                    getOneBooking(eventClickInfo.event.id).then(data => {
                        const parsedData = JSON.parse(data);
                        console.log(parsedData);
                        getUsername(parsedData[0].fields.user).then(data => {
                            vm.eventUsername = data.username;
                            // console.log(typeof vm.eventUsername);
                            // console.log(vm.eventUsername);
                            // console.log('data');
                            // console.log(data);
                        });
                        vm.openEditForm(parsedData[0].fields);
                        vm.event.id = parsedData[0].pk;
                    });
                } else {
                    alert('Please login.');
                }
            }
            ,
            select: function (selectionInfo) {
                // disable all day selections
                if (!selectionInfo.allDay) {
                    if ('{{ user.is_authenticated }}' === 'True') {
                        vm.openBookingForm(selectionInfo);
                    } else {
                        alert('Please login to book a time.');
                    }
                }
            }
    
        });
        calendar.render();
    })
</script>
<div id="calendar"></div>
{% endblock %}